

<div id="card1">
    <div>
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="../../assets/img/CompanyLogo.jpg" alt="Card image cap">
            <div class="card-body">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
    </div>
</div>

<div id="card2">
    <div>
        <div class="card" style="width: 22rem;">
            <div class="card-body">
              <p class="card-text">{{description?.message}}</p>
            </div>
          </div>
    </div>
</div>